.section-buy {
	display: flex;
	padding: 140px 0;
	background-image: url("/img/section-buy-bg.jpg");
	background-size: cover;
	background-position: center center;
	p {
		font-size: 14px;
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.section-buy {
		padding: 80px 0;
	}
}
