.btn {
	background: var(--orange);
	color: #fff;
	border: 2px solid var(--orange);
	transition: all 0.2s;
	border-radius: 5px;
	&.primary {
		padding: 16px 48px;
		&:hover {
		}
	}
	&.large {
		padding: 22px 44px;
	}
}
