.card-product {
	padding: 30px;
	box-shadow: 0px 4px 12px 0px #eff0f3;
	border-radius: 4px;
	.desc-product {
		margin-bottom: 30px;
	}
	.cta-product {
		span {
			transition: all 0.2s;
			display: inline-block;
			width: 10px;
			height: 10px;
			position: relative;
			background: url("/img/arrow-right-icon.svg") no-repeat center center;
		}
		&:first-of-type {
			margin-right: 30px;
		}
		&:hover {
			color: var(--orange);
			span {
				transform: translateX(4px);
				background: url("/img/arrow-right-icon-hover.svg") no-repeat
					center center;
			}
		}
	}
}
