.card-product {
	padding: 30px;
	box-shadow: 0px 4px 12px 0px #eff0f3;
	border-radius: 4px;
	.desc-product {
		margin-bottom: 30px;
	}
	button {
		img {
			margin-left: 5px;
		}
	}
	.learn-more {
		margin-right: 30px;
	}
}
