.newsletter {
	.newsletter-desc {
		margin-bottom: 40px;
	}
	form {
		padding: 10px;
		box-shadow: 0px 4px 12px 0px #eff0f3;
		border-radius: 4px;
		margin-bottom: 100px;
	}

	img {
		width: 100%;
	}
}
