.section-why {
	background: #f6f8fc;
	padding: 200px 0;
	h2 {
		margin-bottom: 130px;
	}
	.card-why:nth-last-of-type(1) {
		.why-card-label {
			padding: 0 100px;
		}
	}
}

@media (max-width: 992px) {
	.section-why {
		.card-why:nth-last-of-type(1) {
			.why-card-label {
				padding: 0;
			}
		}
	}
}
