.hero {
	display: flex;
	min-height: 100vh;
	background: url("/img/hero-section.jpg") center right;
	background-size: cover;
	.explore {
		display: flex;
		position: relative;
		background: var(--orange);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		padding: 10px;
		margin-right: 15px;
		z-index: 1;
		&:after {
			content: "";
			position: absolute;
			width: 48px;
			height: 48px;
			top: calc(50% - 24px);
			left: calc(50% - 24px);
			border-radius: 50%;
			z-index: -1;
			background-color: var(--orange);
			animation: pulse-ring 1.4s cubic-bezier(0.215, 0.61, 0.355, 1)
				infinite;
		}
		img {
			width: 100%;
		}
	}
}

@keyframes pulse-ring {
	0% {
		transform: scale(0.33);
	}
	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 0;
	}
}
