.card-technology {
	padding: 50px;
	text-align: center;
	border-radius: 4px;
	&:hover {
		box-shadow: 0 0 40px 2px #eff0f3;
	}

	.icon-technology {
		width: 48px;
		height: 48px;
		margin-bottom: 20px;
		display: inline-block;
	}
}

@media (max-width: 992px) {
	.card-technology {
		padding: 20px;
	}
}

@media (max-width: 768px) {
	.card-technology {
		.icon-technology {
			margin-bottom: 10px;
		}
	}
}
