header {
	--dark: #000;
	padding: 30px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	transition: all 0.2s;
	.overlay {
		position: fixed;
		z-index: 3;
		width: 100vw;
		height: 100vh;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		pointer-events: none;
		margin-top: -20px;
		&.show-overlay {
			background: rgba(0, 0, 0, 0.7);
			pointer-events: all;
		}
	}
	&.bg-white {
		padding: 20px 0;
		transition: all 0.3s;
		background: #fff;
		box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.08);
		.header-list {
			background: #fff;
			.header-item {
				&::after {
					background: var(--dark);
				}
				a {
					color: var(--dark);
				}
			}
		}
		.menu {
			span {
				background: var(--dark);
				&::after,
				&::before {
					background: var(--dark);
				}
			}
		}
	}
	.header-list {
		.header-item {
			display: inline-block;
			margin-right: 30px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				height: 1px;
				background: #fff;
				transform: scaleX(0);
				transition: all 0.3s ease-in-out;
				transform-origin: left;
			}
			&:hover {
				&::after {
					transform: scaleX(1);
					transform-origin: left;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}
	.login {
		margin-right: 20px;
	}
	.cart {
		position: relative;
		.cart-items {
			display: flex;
			justify-content: center;
			position: absolute;
			top: -8px;
			right: -8px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: var(--orange);
			.item-number {
				color: #fff;
				font-size: 11px;
			}
		}
	}
	.menu {
		position: relative;
		width: 22px;
		height: 22px;
		display: none;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			transition: all 0.3s;
			transform: scaleX(1);

			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				background: #fff;
				transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}

			&::after {
				bottom: 6px;
			}
			&::before {
				top: 6px;
			}
		}
		&.active {
			span {
				background: transparent;
				&::after,
				&::before {
					top: 0;
				}
				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: translateY(6px) rotate(-45deg);
					top: -6px;
				}
			}
		}
	}
}
@media (max-width: 992px) {
	header {
		.header-list {
			.header-item {
				margin-right: 15px;
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		overflow: hidden;
		.header-list {
			z-index: 4;
			padding: 50px 20px 0 30px;
			position: fixed;
			height: 100vh;
			transform: translateX(-100%);
			min-width: 260px;
			top: 0;
			left: 0;
			background: #fff;
			transition: all 0.3s;

			&.open {
				transform: translateX(0);
				transition: all 0.3s;
			}
			.header-item {
				display: block;
				margin-right: 15px;
				margin-bottom: 30px;

				a {
					color: var(--dark);
				}
			}
		}
		button:not(:last-of-type) {
			margin-right: 20px;
		}
		.menu {
			display: block;
			z-index: 5;

			&.active {
				span {
					&::after,
					&::before {
						background: #fff;
					}
				}
			}
		}
	}
}

@media (max-width: 420px) {
	header {
		.header-list {
			width: 100%;
		}
		.menu {
			&.active {
				span {
					&::after,
					&::before {
						background: var(--dark);
					}
				}
			}
		}
	}
}
