.section-news {
	padding: 200px 0;
	.section-news-desc {
		margin-bottom: 60px;
	}
	.news-card {
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 30px;
		min-height: 560px;
		background: url("/img/card-bg-01.png") no-repeat center;
		background-size: cover;
		.news-card-label {
			font-size: 18px;
			line-height: 1;
			margin-bottom: 0;
		}
		.news-date {
			margin: 15px 0;
			font-weight: 600;
		}
		&.top {
			min-height: 265px;
			margin-bottom: 30px;
			background: url("/img/card-bg-01.png") no-repeat center;
			background-size: cover;
		}
		&.bottom {
			min-height: 265px;
		}
	}
}
