footer {
	padding-top: 110px;
	.footer-info {
		margin-bottom: 86px;

		.footer-desc {
			margin-bottom: 30px;
		}
		a {
			color: #000;
		}
		.terms {
			font-size: 14px;
		}
		.footer-list {
			.footer-list-item {
				margin-bottom: 30px;
			}
		}
		.social-list {
			margin-bottom: 30px;
			.social-list-item {
				display: inline-block;
				margin-right: 20px;

				.social-icon {
					display: inline-block;
				}
			}
		}
	}
	.footer-copyright {
		padding: 20px 0;
		border-top: 1px solid #f2f2f2;
		.logo {
			margin-left: 10px;
			line-height: 1;
		}
	}
	.footer-item {
		font-size: 16px;
		margin-bottom: 30px;
	}
}
@media (max-width: 992px) {
	footer {
		.footer-info {
			.social-list {
				.social-list-item {
					margin-right: 10px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	footer {
		.footer-info {
			margin-bottom: 32px;
			.footer-desc {
				margin-bottom: 16px;
			}
			.footer-list {
				.footer-list-item {
					margin-bottom: 16px;
				}
			}
			.footer-item {
				margin-bottom: 16px;
			}
		}
	}
}
